import { IonContent, IonHeader, IonPage, IonTitle, IonToolbar, IonList, IonItem, IonLabel } from '@ionic/react';
import './Tab1.css';

const Tab1: React.FC = () => {
  return (
    <IonPage>
      <IonHeader>
        <IonToolbar>
          {/* Aquí va el título que se ve arriba en la barra de navegación */}
          <IonTitle>Mis Repositorios</IonTitle>
        </IonToolbar>
      </IonHeader>
      
      <IonContent fullscreen>
        <IonHeader collapse="condense">
          <IonToolbar>
            <IonTitle size="large">Mis Repositorios</IonTitle>
          </IonToolbar>
        </IonHeader>

        {/* CUMPLIENDO REQUISITO 1: Aquí arranca la lista interactiva de Ionic */}
        <IonList>
          
          {/* Primer ítem de prueba: Le pongo 'button' para que haga el efecto de clic al tocarlo */}
          <IonItem button>
            <IonLabel>
              {/* El h2 es para el título principal del repo */}
              <h2>Cliente Github Ionic</h2>
              {/* El p es para la descripción, como un subtítulo gris */}
              <p>Este es el proyecto del laboratorio 7 que estamos armando</p>
            </IonLabel>
          </IonItem>
          
          {/* Segundo ítem de relleno para ver cómo se ve con más datos */}
          <IonItem button>
            <IonLabel>
              <h2>Proyecto Final</h2>
              <p>Aquí va el código de la app Saúde que estoy planeando</p>
            </IonLabel>
          </IonItem>

          {/* Tercer ítem para que la lista no se vea tan triste */}
          <IonItem button>
            <IonLabel>
              <h2>Examen Parcial</h2>
              <p>Estudiar mucho para sacar buena nota</p>
            </IonLabel>
          </IonItem>

        </IonList>
        {/* Aquí termina la lista */}

      </IonContent>
    </IonPage>
  );
};

export default Tab1;