.form-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.form-field {
    width: 100%;
    max-width: 640px; /* Limita el ancho */
}